@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-size:62.5%;/* 1 rem = 10px */
}
body{
    font-family: 'Montserrat Alternates',sans-serif;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    background: linear-gradient(360deg, #547466 0%, #82a998 100%);

}
.content{
    position: relative;
    background-color: #fff;
    border-radius: 2rem;
    width: 90rem;
    height: 50rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.content::before{
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    content: "";
   position: absolute;
    background-color: #3b6754;
    width: 35rem;
    height: 50rem;
}
.content1{
    display: flex;
    /* align-items: center;
    justify-content: start; */
}
.content2{
    
    display: none;
    position:absolute;
}
.column1{
    color: #fff;
    z-index: 50;
    text-align: center;
    flex:1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column2{
    margin-left: 10rem;
    color: #adadad;
    text-align: center;
    flex:2 0 auto;
    display: flex;
    align-items:center;
    flex-direction: column;
}
/* .social-media{
    width: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} */
.lista-sm{
    width: 15rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-sm{
    border: 0.1rem solid #dddddd;
    border-radius: 3rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #245239;
    background-color: transparent;
    box-shadow: 0.1rem 0.3rem  1rem #696969;
    border: 0.2rem solid #f5f5f5;
    
}
.item-sm:hover{
    background-color: #245239;
    color: #fff;
    box-shadow: 0rem 0.1rem  0.5rem #668879;
    border: 0.2rem solid #245239;
    transition: 0.4s;
}
.item-sm a{
    padding: 0.5rem;
    font-size: 2rem;
    color: #245239;
}
.item-sm a:hover{
    margin: 80px;
    font-size: 2rem;
    color: #ffffff;
}

.input-cadastro{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.input-cadastro input{
    padding: 0.9rem;
    font-size: 1.1rem;
    font-family:'Montserrat Alternates',sans-serif;
    font-weight: 500;
    background: linear-gradient(180deg, #e8fff7 0%, #b3dfcb 100%);
    width: 25rem;
    height: 4rem;
    border-radius: 5rem;
    border: none;
    background-color:#eefaf6; 
   
}
input::placeholder{
    color: rgb(185, 184, 184);
    font-size: 1.1rem;
    font-family:'Montserrat Alternates',sans-serif;
    font-weight: 500;
}
#senha{
    font-size: 1.7rem;
}
.title{
    font-size: 2rem;
    font-weight: 600;
}
.title-criar{
    color: #245239;
}
.description{
    font-size: 1.1rem;
    line-height: 3rem; /* espaço entre linhas */
}
.button{
    cursor: pointer;
    border-radius: 3rem;
    width: 11rem;
    height: 3.4rem;
    font-weight:600;
    font-size: 2rem;
}
.button-entrar{
    color: #fff;
    background-color: transparent;
    box-shadow: 0.1rem 0.3rem  1rem #245239;
    border: 0.2rem solid #326749;
    
}
.button-entrar:hover{
    background-color: #fff;
    color: #245239;
    box-shadow: 0rem 0.1rem  0.5rem #82a998;
    border: 0.2rem solid #ffffff;
    transition: 0.4s;
}
.button-cadastro{
    margin:1rem;
    color: #245239;
    background-color: transparent;
    box-shadow: 0.1rem 0.3rem  1rem #696969;
    border: 0.2rem solid #f5f5f5;
    
}
.button-cadastro:hover{
    background-color: #245239;
    color: #fff;
    box-shadow: 0rem 0.1rem  0.5rem #668879;
    border: 0.2rem solid #245239;
    transition: 0.4s;
}
.label-input{
    background: linear-gradient(180deg, #e8fff7 0%, #b3dfcb 100%);
    border-radius: 5rem;
    padding: 0.8rem;
    margin:0.5rem;
    
}
