@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat Alternates',sans-serif;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    background: linear-gradient(360deg, #547466 0%, #82a998 100%);

}
.content{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    height: 60%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.content::before{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    content: "";
   position: absolute;
    background-color: #3b6754;
    width: 40%;
    height: 100%;
}
.content1{
    display: flex;
 
}
.content2{
    
    display: none;
    position:absolute;
}
.column1{
    color: #fff;
    z-index: 50;
    text-align: center;
    flex:1 0 auto;
}
.column2{
    text-align: center;
    flex:2 0 auto;
}
.lista-sm{
    display: flex;
}
form{
 display: flex;
 flex-direction: column;
}
.title{
    font-size: 28px;
    font-weight: 600;
}